.nav-list {
    display: flex;

    font-size: 1.4rem;
    font-family: "Open sans italic", sans-serif;

    background-color: white;

    transition: 0.5s all ease;
}

.nav-list_hided {
}

.nav-list__item {
    display: flex;
    margin-left: 0.5rem;
    position: relative;
    border-bottom: 2px solid var(--color-basic-1);
}
.nav-list__item:nth-child(1) {
    margin-left: 0;
}

.nav-list__item-link {
    display: block;
    padding: 8px;
    position: relative;
    z-index: 2;
}

.nav-list__item-back {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease all;
}

.nav-list__item-back_1 {
    background-color: var(--color-basic-4);
}

.nav-list__item-back_2 {
    background-color: var(--color-basic-3);
}

.nav-list__item-back_3 {
    background-color: var(--color-basic-2);
}

.nav-list__item-back_4 {
    background-color: var(--color-basic-4);
}

.nav-list__item-back_5 {
    background-color: var(--color-basic-3);
}

/* animation */
.nav-list__item:hover .nav-list__item-back {
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .nav-list {
        width: 100%;
        height: calc(100vh - var(--header-height));
        flex-direction: column;
        position: fixed;
        top: var(--header-height);
        left: 0;
        font-size: 1.7rem;
        overflow-y: auto;
        z-index: 400;
    }
    .nav-list__item {
        padding: 1rem;
        margin-left: 0;
        flex-grow: 1;
        border-bottom: none;
        font-family: "Open Sans 600", sans-serif;
    }
    .nav-list__item-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-list_hided {
        transform: translateX(-100%);
    }
    .nav-list__item-back {
        height: 100%;
    }
}